<section class="py-5 overflow-hidden">
      <div class="container-lg">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex flex-wrap justify-content-between mb-5">
              <h2 class="section-title">Category</h2>

              <div class="d-flex align-items-center ">
                <div class="swiper-buttons text-center">
                  <button class="swiper-prev category-carousel-prev btn btn-yellow me-2" style="width: 45px; padding-bottom: 45px;"><i class="fa-solid fa-chevron-left"></i></button>
                  <button class="swiper-next category-carousel-next btn btn-yellow " style="width: 45px; padding-bottom: 45px;"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="category-carousel swiper">
              <div class="swiper-wrapper">
                <a (click)="getCategoryProfuct(55)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/fruit&vegs.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Fruits & Veges</h4>
                </a>
                <a (click)="getCategoryProfuct(56)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/food-grains.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Foodgrains</h4>
                </a>
                <a (click)="getCategoryProfuct(57)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/bakery.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Bakery</h4>
                </a>
                <a (click)="getCategoryProfuct(58)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/beverage.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Beverages</h4>
                </a>
                <a (click)="getCategoryProfuct(59)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/snacks.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Snacks</h4>
                </a>
                <a (click)="getCategoryProfuct(192)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/hats.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Hats</h4>
                </a>
                <a (click)="getCategoryProfuct(66)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/dryFruit.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Dry Fruits</h4>
                </a>
                <a (click)="getCategoryProfuct(170)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/clothings.avif" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Clothings</h4>
                </a>
                <a (click)="getCategoryProfuct(64)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/flower.webp" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Flower Bouquets</h4>
                </a>
                <a (click)="getCategoryProfuct(173)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/electronics.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Electronics</h4>
                </a>
                <a (click)="getCategoryProfuct(172)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/babyproduct.jpg" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">BabyProducts</h4>
                </a>
                <a (click)="getCategoryProfuct(83)" class="nav-link swiper-slide text-center">
                  <img src="../../../../assets/category-img/fragrance.webp" class="rounded-circle" alt="Category Thumbnail">
                  <h4 class="fs-6 mt-3 fw-normal category-title">Fragrances</h4>
                </a>
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>