<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="mb-3">
        <label for="userName" class="form-label">Username</label>
        <input type="text" id="userName" formControlName="userName" class="form-control" placeholder="Enter your username">
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
      </div>

      <!-- Submit Button -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
